@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

/* POCZĄTEK HEADER */

header {
    height: 100vh;
    width: 100%;
    background-color: #BBE4DC;
    /* fixed zmienia szerokość na 0 jeżeli się jej nie ustawi */
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
    z-index: 1;
}

header img {
    position: absolute;
    bottom: 0;
    right: -40%;
    height: 70%;
}

header nav {
    position: absolute;
    top: 4%;
    right: 7%;
    font-size: 3rem;
}

header hgroup {
    position: absolute;
    top: 15%;
    left: 10%;
    text-transform: uppercase;
    z-index: 1;
}

header h1 {
    font-size: 3rem;
}

header h3 {
    font-size: 1.7rem;
    font-weight: 400;
}

#arrow {
    width: 64px;
    height: 64px;
    border: 3px solid black;
    position: absolute;
    bottom: 7%;
    left: 50%;
    /* wyśrodkowanie */
    transform: translateX(-50%);
    border-radius: 50%;
    /* strzałka */
    font-size: 3rem;
    text-align: center;
    /* text-shadow przesunięcie boki, przesunięcie góra-dół, rozmycie, kolor */
    text-shadow: 0 -15px 0 black, 0 -30px 0 black;
    overflow: hidden;
    transition: 1s ease;
}

#arrow:hover {
    text-shadow: 0 -15px 0 white, 0 -30px 0 white;
    color: white;
    border-color: white;
    background-color: black;
    cursor: pointer;
}

.fa-chevron-down {
    animation: arrow 1.4s infinite linear;
}

/* KONIEC HEADER */

/* POCZĄTEK MAIN */

main {
    height: 100vh;
    background-color: grey;
    margin-top: 100vh;
    /* trzeba ustawić jakiekolwiek position żeby działał z-index */
    position: relative;
    z-index: 2;
}

/* KONIEC MAIN */

/* MEDIA QUERIES */

@media (orientation: portrait) {

    /* wstawienie "entera" po span */
    h3 span::after {
        content: '\A';
        white-space: pre;
    }
}

@media (orientation: landscape) {
    header img {
        height: 65%;
        right: 0;
    }

    header h1 {
        font-size: 5rem;
    }

    header h3 {
        font-size: 2rem;
    }
}

@media (min-width: 530px) {
    header img {
        height: 75%;
    }

    header h1 {
        font-size: 5rem;
    }

    header h3 {
        font-size: 2.4rem
    }

    header hgroup {
        top: 10%
    }
}

@media (min-width: 530px) and (orientation: portrait) {}

@media (min-width: 768px) {}

@media (min-width: 768px) and (orientation: portrait) {
    header img {
        height: 75%;
        right: -30%;
    }

    header h1 {
        font-size: 8rem;
    }

    header h3 {
        font-size: 4.4rem
    }

    header hgroup {
        top: 8%
    }
}

@media (min-width: 1024px) {
    header img {
        height: 75%;
        right: -10%;
    }

    header h1 {
        font-size: 8rem;
    }

    header h3 {
        font-size: 3.8rem
    }

    header hgroup {
        top: 12%
    }

    #arrow {
        width: 96px;
        height: 96px;
        font-size: 4rem;
    }
}

@media (min-width: 1024px) and (orientation: portrait) {}

@media (min-width: 1280px) {}

@media (min-width: 1280px) and (orientation: portrait) {}

@media (min-width: 1600px) {}

@media (min-width: 1600px) and (orientation: portrait) {}

@media (max-width: 320px) {
    header h3 {
        font-size: 2.4rem;
    }

    header hgroup {
        transform: rotate(-15deg);
    }
}

/* KONIEC MEDIA QUERIES */

/* ANIMACJE */

@keyframes arrow {
    0% {
        transform: translateY(-80px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(80px);
    }
}

/* KONIEC ANIMACJE */